
@import "reset.css";

:root {
    --color-orange: #C69018;
    --color-black: #111;
    --color-paper: #feefd6;

    --size-heading: 1.5rem;
    --size-text: 1rem;
    --size-border: 1.5pt;

    --width-mobile: 320px;
    --width-tablet: 580px;
    --width-medium: 680px;
    --width-content: 1000px;
}

@custom-media --viewport-mobile (max-width: 480px);
@custom-media --viewport-tablet (max-width: 580px);
@custom-media --viewport-medium (max-width: 680px);
@custom-media --viewport-content (max-width: 1000px);
@custom-media --light (prefer-color-scheme: light);

@custom-selector :--headings h1, h2, h3, h4, h5, h6;
@custom-selector :--blocks p, table, ol, ul, img, figure, hr;

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

html {
    font-size: 14pt;
    min-width: var(--width-mobile);
}

body {
    background: var(--color-paper);
    color: var(--color-black);
    font-family: Literata, serif;
    font-weight: 400;
    line-height: 1.4;
}

img {
    max-width: 100%;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

a {
    color: #555;
    text-decoration: underline;

    @media (--light) {
        color: var(--color-teal);
    }
}

:--headings {
    font-size: var(--size-header);
    font-weight: 700;
    line-height: var(--size-line);
}

:--headings, :--blocks {
    margin: 0 0 15px;
}

h1 {
    font-size: 38pt;
    line-height: 1.1;
}

h3 {
    color: #555;
    font-size: 14pt;
}

.header {
    padding: 20px 20px 80px;
}

.container {
    width: var(--width-content);
    margin: 0 auto;

    @media (--viewport-content) {
        width: 100%;
    }
}

.section {
    padding: 20px;
}

.header-grid {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "img-1 ."
        "img-1 img-2"
        "img-1 img-2"
        "title img-2"
    ;

    & .header-title {
        grid-area: title;
        max-width: 350px;
    }

    & .header-tile-1 {
        grid-area: img-1;
        align-self: end;
        width: 80%;
    }

    & .header-tile-2 {
        grid-area: img-2;
        align-self: end;
        margin-left: auto;
        width: 70%;
    }

    @media (--viewport-medium) {
        grid-template-columns: 1fr;
        grid-column-gap: 0;

        & .header-tile-2 {
            display: none;
        }
    }

}

.columns {
    columns: 3;
    column-gap: 40px;

    & .column {
        break-inside: avoid;
        margin: 0 0 50px;
    }

    @media (--viewport-medium) {
        columns: 2;
    }

    @media (--viewport-mobile) {
        columns: 1;
    }
}

p.links {
    & a {
        display: block;
        margin: 5px 0;
    }
}

svg.icon {
    height: 1em;
    width: 1em;
    margin: -0.1em 0;
    vertical-align: baseline;

    &.icon-big {
        height: 2.5em;
        width: 2.5em;
    }
}

.contacts {
    margin: 0 auto;
    text-align: right;
    width: 240px;

    & .bubble {
        display: block;
        width: 60%;
        text-align: left;
    }

    & a {
        text-decoration: none;
    }
}

.footer {
    padding: 20px;

    & p {
        font-size: 10pt;
    }
}

.clearfix:after {
    content: " ";
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.no-break {
    word-wrap: none;
    white-space: nowrap;
}
