<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Gwilyn Saunders">
    <meta name="description" content="Gwilyn Saunders. Software dev.">
    <meta name="theme-color" content="#feefd6">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Literata&display=swap">
    <link rel="stylesheet" href="/index.css">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/favicon.png">
    {{!-- <script src="/index.js"></script> --}}
</head>
<body>

{{{ sprites }}}

{{!--
2017
Good Thnx
Software Engineer
(Current)

2017
University of South Australia
Casual ITMS Tutor
(Current)

2015
Stemtap / MK2
Co-founder, Software Engineer

2012
University of South Australia
Bachelor of Software Engineering (Honours)
--}}

<header class="header" id="top">
    <div class="container">
        <div class="header-grid">
            <div class="header-title">
                <h1>Gwilyn<br>Saunders</h1>
                <p>Software dev.</p>
                <p>
                    Most days I'm writing software and I enjoy it.
                    If you need some software, I can write that.
                </p>
                <p>
                    You'll find me most days at
                    <a href="//karmabunny.com.au" target="_blank" rel="noreferrer">Karmabunny</a>.
                    But also sometimes in a classroom, waving my arms around.
                </p>
                <p>
                    Here's some other stuff I am (or was) responsible for.
                </p>
            </div>
            <img class="header-tile-1" src="/gwilyn_one.svg" alt="Gwilyn 1">
            <img class="header-tile-2" src="/gwilyn_two.svg" alt="Gwilyn 2">
        </div>
    </div>
</header>

<section class="section">
    <div class="container">
        <div class="columns">
            <article class="column">
                <h3>
                    <svg class="icon" aria-hidden="true">
                        <use href="#icon-good-thnx-black"/>
                    </svg>
                    <span>Good Thnx</span>
                </h3>
                <p>
                    Good Thnx is gifting and recognition platform that
                    powers gratitude through its charity payments API.
                </p>
                <p class="links">
                    <a href="//thnx.me" target="_blank" rel="noreferrer">
                        thnx.me
                    </a>
                </p>
            </article>

            <article class="column">
                <h3>
                    <svg class="icon" aria-hidden="true">
                        <use href="#icon-stemtap-black"/>
                    </svg>
                    <span>Stemtap</span>
                </h3>
                <p>
                    Stemtap is a tangible (hands-on) coding platform for
                    primary and secondary schools.
                </p>
                <p>
                    Discontinued, but I'll still talk for hours about it.
                </p>
                <p class="links">
                    <a href="//gwillz.github.io/stemtap/" target="_blank" rel="noreferrer">
                        gwillz.github.io/stemtap
                    </a>
                </p>
            </article>

            <article class="column">
                <h3>
                    <svg class="icon" aria-hidden="true">
                        <use href="#icon-bugman"/>
                    </svg>
                    <span>Field Assistant</span>
                </h3>
                <p>
                    An offline data collection app for recording bug
                    observations in the field and exporting to a spreadsheet.
                </p>
                <p class="links">
                    <a href="//gwillz.github.io/bugman/" target="_blank" rel="noreferrer">
                        gwillz.github.io/bugman
                    </a>
                </p>
            </article>

            <article class="column">
                <h3>
                    <svg class="icon" aria-hidden="true">
                        <use href="#icon-code"/>
                    </svg>
                    <span>Eagle Eye</span>
                </h3>
                <p>
                    A computer vision research paper that attempts to
                    validate annotations using a 3D tracking system. But
                    then we decided to sabotage ourselves by using a
                    360&deg; camera.
                </p>
                <p>
                    It still worked, and we also created 40+ datasets.
                </p>
                <p class="links">
                    {{!-- <a href="/projects/eagle-eye">
                        Tracing Videos
                    </a>
                    <br> --}}
                    <a href="//ieeexplore.ieee.org/document/8227409" target="_blank" rel="noreferrer">
                        ieeexplore.ieee.org
                    </a>
                    <a href="//github.com/gwillz/eagleeye/" target="_blank" rel="noreferrer">
                        github.com/gwillz/eagleeye
                    </a>
                </p>
            </article>

            <article class="column">
                <h3>
                    <svg class="icon" aria-hidden="true">
                        <use href="#icon-code"/>
                    </svg>
                    <span>MD Slides</span>
                </h3>
                <p>
                    A quick editor/presenter web-app for presentation
                    slides written in Markdown.
                </p>
                <p class="links">
                    <a href="//gwillz.github.io/slides/?tutorial" target="_blank" rel="noreferrer">
                        gwillz.github.io/slides
                    </a>
                </p>
            </article>

            <article class="column">
                <h3>
                    <svg class="icon" aria-hidden="true">
                        <use href="#icon-code"/>
                    </svg>
                    <span>Rest CLI</span>
                </h3>
                <p>
                    Inspired by the excellent VSCode extension,
                    <a href="//github.com/Huachao/vscode-restclient">Rest Client</a>.
                    This is essentially a terminal version of that.
                    The emphasis is on request sequencing however.
                </p>
                <p class="links">
                    <a href="//gwillz.github.io/rest-cli" target="_blank" rel="noreferrer">
                        gwillz.github.io/rest-cli
                    </a>
                </p>
            </article>

            <article class="column">
                <h3>
                    <svg class="icon" aria-hidden="true">
                        <use href="#icon-code"/>
                    </svg>
                    <span>Unwind JS</span>
                </h3>
                <p>
                    Have you ever got a error in your live JS but you don't have
                    source maps attached because <em>"reasons"</em>?
                    Here you can plug in your sourcemaps along with the
                    mangled stack-trace and whammo, it's now a readable stacktrace.
                </p>
                <p class="links">
                    <a href="//gwillz.github.io/unwind-js" target="_blank" rel="noreferrer">
                        gwillz.github.io/unwind-js
                    </a>
                </p>
            </article>

            <article class="column">
                <h3>
                    <svg class="icon" aria-hidden="true">
                        <use href="#icon-clock"/>
                    </svg>
                    <span>Time Calculator</span>
                </h3>
                <p>
                    A time sheet for those who hate time maths.
                    Because <span class="no-break">1:50 + 2:50</span> isn't 4:00.
                </p>
                <p>
                    (It's 4:40).
                </p>
                <p class="links">
                    <a href="//gwillz.github.io/time-calculator/" target="_blank" rel="noreferrer">
                        gwillz.github.io/time-calculator
                    </a>
                </p>
            </article>

            <article class="column">
                <h3>
                    <svg class="icon" aria-hidden="true">
                        <use href="#icon-code"/>
                    </svg>
                    <span>Supernova</span>
                </h3>
                <p>
                    I used to run a game server in college. I wrote and
                    meticulously maintained a set of bash scripts to manage
                    it all.
                </p>
                <p class="links">
                    <a href="//github.com/gwillz/supernova/" target="_blank" rel="noreferrer">
                        github.com/gwillz/supernova
                    </a>
                </p>
            </article>

            <article class="column">
                <h3>
                    <svg class="icon" aria-hidden="true">
                        <use href="#icon-code"/>
                    </svg>
                    <span>React-Pagedown</span>
                </h3>
                <p>
                    I really liked the concept of Pagedown
                    (formerly WMD, aka. the stackoverflow editor), so I wrapped
                    it in a React component. But I also started another project
                    to use the Markdown AST as a more robust alternative.
                </p>
                <p class="links">
                    <a href="//github.com/gwillz/react-pagedown/" target="_blank" rel="noreferrer">
                        react-pagedown
                    </a>
                    <a href="//github.com/gwillz/react-mdeditor/" target="_blank" rel="noreferrer">
                        react-mdeditor
                    </a>
                </p>
            </article>

            <article class="column">
                <h3>
                    <svg class="icon" aria-hidden="true">
                        <use href="#icon-code"/>
                    </svg>
                    <span>Rocks DB</span>
                </h3>
                <p>
                    Apparently geologists have a weird shorthand for classifying
                    rocks. I wrote it in Python, then Rust, then a GUI in Qt
                    using FFI bindings. It was fun.
                </p>
                <p class="links">
                    <a href="//github.com/gwillz/rocks-db/" target="_blank" rel="noreferrer">
                        github.com/gwillz/rocks-db
                    </a>
                </p>
            </article>

            <article class="column">
                <h3>
                    <svg class="icon" aria-hidden="true">
                        <use href="#icon-code"/>
                    </svg>
                    <span>TV Rename</span>
                </h3>
                <p>
                    It's a bulk file renamer and sanitiser built in Rust.
                    It's designed to work neatly with midnight commander.
                </p>
                <p class="links">
                    <a href="//github.com/gwillz/tv-rename/" target="_blank" rel="noreferrer">
                        github.com/gwillz/tv-rename
                    </a>
                </p>
            </article>

            <article class="column">
                <h3>
                    <svg class="icon" aria-hidden="true">
                        <use href="#icon-code"/>
                    </svg>
                    <span>Gwilyn.com</span>
                </h3>
                <p>
                    This website is built with Metalsmith. I also wrote a bunch
                    of plugins because the existing ones weren't consistent or
                    maintained.
                </p>
                <p class="links">
                    <a href="//github.com/gwillz/gwillz.com/" target="_blank" rel="noreferrer">
                        gwillz.com
                    </a>
                    <a href="//lourobinson.co" target="_blank" rel="noreferrer">
                        lourobinson.co
                    </a>
                    <a href="//github.com/gwillz/metalsmith-webpack/" target="_blank" rel="noreferrer">
                        metalsmith-webpack
                    </a>
                    <a href="//github.com/gwillz/metalsmith-postcss/" target="_blank" rel="noreferrer">
                        metalsmith-postcss
                    </a>
                    <a href="//github.com/gwillz/metalsmith-handlebars/" target="_blank" rel="noreferrer">
                        metalsmith-handlebars
                    </a>
                    <a href="//github.com/gwillz/metalsmith-parked/" target="_blank" rel="noreferrer">
                        metalsmith-parked
                    </a>
                    <a href="//github.com/gwillz/metalsmith-sprites/" target="_blank" rel="noreferrer">
                        metalsmith-sprites
                    </a>
                </p>
            </article>

            {{!-- <article class="column">
                <h3>Juke Room</h3>
                <p>
                    Room codes and YouTube playlists.
                    Think like, a jukebox in a pub but like Jackbox.tv.
                </p>
                <p>
                    (WIP)
                </p>
            </article> --}}

            <article class="column">
                <h3>
                    <svg class="icon" aria-hidden="true">
                        <use href="#icon-wdm"/>
                    </svg>
                    <span>Wisdom Data and Mapping</span>
                </h3>
                <p>
                    Over the years we've built several products largely
                    based in geo-spatial and weather data.
                </p>
                <p>
                    Clients include:
                    <a href="//naturalresources.sa.gov.au" target="_blank" rel="noreferrer">NRM SA</a>,
                    <a href="//riverlandwine.com.au" target="_blank" rel="noreferrer">Riverland Wine</a>,
                    <a href="//pir.sa.gov.au/research/research_centres_and_facilities/minnipa_agricultural_centre" target="_blank" rel="noreferrer">Minnipa SARDI</a>.
                </p>
                <p class="links">
                    <a href="//wisdomdata.com.au" target="_blank" rel="noreferrer">
                        wisdomdata.com.au
                    </a>
                    {{!-- <a href="/graveyard/nrmsa">
                        NRM Weather App
                    </a> --}}
                    {{!-- <a href="/graveyard/minnipa">
                        Minnipa Weeds App
                    </a> --}}
                </p>
            </article>
        </div>
    </div>
</section>

<section class="section" id="contact">
    <div class="container">
        <div class="contacts">
            <img class="bubble" src="/speechbubble.svg" aria-hidden="true">

            <div>
                <a href="mailto:me@gwilyn.com" class="level-item clean" target="_blank" rel="noreferrer" aria-label="me@gwilyn.com">
                    <svg class="icon icon-big" role="img">
                        <title>me@gwilyn.com</title>
                        <use href="#icon-lou-email"/>
                    </svg>
                </a>
                <a href="//github.com/gwillz" class="level-item clean" target="_blank" rel="noreferrer" aria-label="github.com/gwillz">
                    <svg class="icon icon-big" role="img">
                        <title>github.com/gwillz</title>
                        <use href="#icon-lou-github"/>
                    </svg>
                </a>
                <a href="//linkedin.com/in/gwillz" class="level-item clean" target="_blank" rel="noreferrer" aria-label="linkedin.com/in/gwillz">
                    <svg class="icon icon-big" role="img">
                        <title>linkedin.com/in/gwillz</title>
                        <use href="#icon-lou-linkedin"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>

<footer class="footer">
    <div class="container">
        <p>
            Design by
            <a href="//lourobinson.co" target="_blank" rel="noreferrer">Lou</a>.
        </p>
    </div>
</footer>

</body>
</html>
